@import 'css/reset.scss';

$hamburger-layer-border-radius: 0;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
@import 'hamburgers/dist/hamburgers';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #f2f2f2;
}

.font-roboto {
  font-family: 'Roboto';
}

.container {
  max-width: 1400px;
  padding-left: 24px;
  padding-right: 24px;
}
